$border-grey: #DCD0CE;

$font-black: #494747;
$font-green: #00CC00;

$font-size-small: 12px;
$font-size-medium: 13px;
$font-size-normal: 15px;
$font-size-big: 20px;

$light-green: #D9E3D4;
$form-green: #29B53E;
$button-disabled: #D9E3D4;

$error-color: #C92A2A;

$breakpoint-big: 1020px;
$breakpoint-middle: 768px;
$breakpoint-medium: 650px;
$breakpoint-small: 370px;
