$border-grey: #DCD0CE;

$font-black: #494747;

$font-size-normal: 15px;
$font-size-big: 20px;

$button-green: #29B53E;
$button-disabled: #D9E3D4;

$input-green: #CFFBD5;

$error-color: #C92A2A;
