/*reset css*/
html, body, div, span, object, iframe, section,
h1, h2, h3, h4, h5, h6, p, a, address, code, 
img, strong, sub, var, b, i, dl, dt, dd, ol, 
ul, li, form, legend, table, tbody, thead, tr, 
th, td, article, aside, canvas,  embed, footer, 
header, hgroup, menu, nav, audio, video,
input, label, select, button, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: middle;
	box-sizing: border-box;
}
ol, ul { list-style: none; }

@import '../vars.scss';

.App{
  font-family: roboto, sans-serif;
  letter-spacing: .5px;
  color: $font-black;

  .container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
		@media (max-width: $breakpoint-big) {
			padding: 7px 20px;
		}
		@media (max-width: $breakpoint-small) {
			padding: 7px 0;
		}
  }

  button{
  	cursor: pointer;
  }

	a {
		text-decoration: none;
		color: $font-black;
	}

	.ui-input{
		border: 1px solid $form-green;
		height: 30px;
		width: 260px;
		border-radius: 4px;
		margin-bottom: 30px;
		padding: 0 5px;
	}
	.ui-button{
		width: 150px;
		height: 35px;
		background: $form-green;
		color: white;
		outline: none;
		border-radius: 3px;
		letter-spacing: .3px;
		&_small{
			width: 130px;
			height: 30px;
		}
		&:disabled{
			background: $button-disabled;
			cursor: default;
			opacity: .8;
		}
	}

  .auth{
  	&-form{
    	margin-top: 10px;
    }
    &__message{
			text-align: center;
			height: 20px;
			letter-spacing: .3px;
    }
  }
}
