@import '../../vars.scss';

.user-page{
  @media (max-width: $breakpoint-small) {
    padding: 0 20px;
  }
  &__nav{
    margin-bottom: 15px;
    li{
      display: inline-block;
      font-weight: bold;
      margin-right: 30px;
      cursor: pointer;
    }
  }
  &__ava{
    display: inline-block;
    max-width: 300px;
    max-height: 300px;
    width: 30%;
    img{
      width: 100%;
    }
  }
  &-content{
    display: inline-block;
    width: 68%;
    margin-left: 2%;
    vertical-align: top;
    &__inner{
      border-top: 1px solid $border-grey;
      padding: 10px 0;
    }
  }
}