@import '../../vars.scss';

.user-page{
  @media (max-width: $breakpoint-small) {
    padding: 0 20px;
  }
  &__nav{
    margin-bottom: 15px;
    li{
      display: inline-block;
      font-weight: bold;
      margin-right: 30px;
      cursor: pointer;
    }
  }
  &__ava{
    display: inline-block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
  }
  &-content{
    display: inline-block;
    width: 730px;
    margin-left: 20px;
    vertical-align: top;
    &__inner{
      border-top: 1px solid $border-grey;
      padding: 10px 0;
    }
  }
}