@import '../../vars.scss';

.settings{
  form{
    text-align: right;
    @media (max-width: $breakpoint-medium) {
      text-align: center;
    }
  }
  label{
    display: inline-block;
    &:nth-of-type(even){
      margin-left: 30px;
      @media (max-width: $breakpoint-medium) {
        width: 100%;
        margin-left: 0;
      }
    }
    span{
      display: block;
    }
    input[type="file"]{
      display: none;
    }
  }
  .file-wrapper{
    position: relative;
    text-align: center;
    line-height: 1.7;
    padding: 0 !important;
  }
  .file{
    background: $light-green;
    border: none;
    color: $form-green;
    cursor: pointer;
  }
  .error{
    color: $error-color;
  }
}