@import '../../vars.scss';

.users-search {
  &__form {
    height: 30px;
    text-align: right;
    position: relative;
  }
  ul {
    margin-top: 20px;
  }
  &__searching {
    height: 100%;
    width: 310px;
    border: 1px solid $font-black;
    border-radius: 12px;
    padding: 0 10px;
    @media (max-width: $breakpoint-medium) {
      width: 280px;
    }
  }
  &__submit {
    position: absolute;
    right: 6px;
    top: 7px;
    width: 20px;
    height: 20px;
    background: none;
    &:before {
      content: '';
      position: absolute;
      left: 11px;
      top: 7px;
      width: 2px;
      height: 10px;
      background: $font-black;
      transform: rotate(-45deg);
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid $font-black;
      border-radius: 50%;
      width: 8px;
      height: 8px;
    }
  }
  &__user {
    display: block;
  }
}