@import '../../vars.scss';

.header-wrapper{
	background: $font-black;
	height: 50px;
	position: relative;
	@media (max-width: $breakpoint-medium) {
		height: 35px;
	}
}
.informer {
	position: fixed;
	padding: 10px;
	font-size: $font-size-normal;
	opacity: 0;
	right: 0;
	transition: opacity .2s;
	color: white;
	z-index: 5;

	@media (max-width: $breakpoint-middle) {
		width: 95%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	@media (max-width: $breakpoint-medium) {
		top: 40px;
		padding: 5px;
		font-size: $font-size-medium;
	}

	&_show {
		opacity: 1;
		background: $form-green;
	}
	&_error {
		background: $error-color;
	}
}
.header{
  max-width: 1000px;
	display: flex;
	align-items: center;
	margin: 0 auto;
	height: 100%;
	@media (max-width: $breakpoint-big) {
		padding: 0 20px;
	}
	.navigation{
		width: 90%;
		text-align: right;
	}
	.logo{
		color: white;
		font-style: italic;
		text-shadow: 0 0 6px rgba(255,255,255,0.7);
		@media (max-width: $breakpoint-medium) {
			font-size: $font-size-normal;
		}
	}
	.user{
		position: relative;
		display: inline-block;
		min-width: 115px;
		font-size: $font-size-normal;
		z-index: 1;
		&-name{
			display: inline-block;
			user-select: none;
			color: $font-green;
			font-size: 17px;
			padding: 5px 0 5px 5px;
			cursor: pointer;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			@media (max-width: $breakpoint-medium) {
				max-width: 150px;
				font-size: inherit;
			}
		}
		.user-list{
			position: absolute;
			top: 40px;
			right: 0;
			display: none;
			width: 100px;
			text-align: left;
			color: white;
			background: rgba(73, 71, 71, 0.7);
			@media (max-width: $breakpoint-medium) {
				width: auto;
				top: 31px;
			}
			&__open{
				display: inline-block;
			}
			li{
				padding: 10px;
				cursor: pointer;
				&:hover{
					background: rgba(73, 71, 71, 0.3);
				}
			}
		}
	}
}